<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Savadur - Ping Clients</title>

    <meta name="description" content="Ping clients" />

    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />

    <meta http-equiv="refresh" content="10;url=/">

    <style type="text/css">
      @import url("/css/style.css");
    </style>
  </head>
  <body id="run_page">
    <h1>Ping clients</h1>
    <div id="menu">
      <ul><li><a href="/">Back to project list</a></li></ul>
    </div>
    <div id="content">
      <p>Pinging clients.</p>
      <p>You'll be redirected to the project page in 10s...</p>
    </div>
  </body>
</html>
