body {
    background:#333;
    color:#888;
    padding:4em 1em 1em;
}
h1 {
    color:#ccc;
    font-size:2.3em
}
h1 a {
    color:#ccc;
    text-decoration:none;
}
table {
    background-color:white;
    border:5px solid white;
    border-collapse:collapse;
    margin-bottom:1em;
}
table td {
    border-color:-moz-use-text-color #99B195 rgb(242, 242, 242);
    border-style:none solid solid;
    border-width:medium 1px 1px;
    color:#444444;
    font-size:13px;
    padding:1px 5px;
    text-align:center;
    vertical-align:top;
}
table.job_id_table {
    margin:1.5em auto;
    border: thin solid #777;
}
table.job_id_table td {
    padding:0.5em;
    border: thin solid #777;
}
table.list td {
    border:none;
    vertical-align:middle;
}
table.list td.project_name {
    font-size:large;
    font-weight:bold;
}
td a {
    color:#081E75;
}
span.timestamp {
    font-size:x-small;
}
.success {
    background:#92CC47 none repeat scroll 0%;
}
.failure {
    background:#B50008 none repeat scroll 0%;
    color:#FFFFFF;
}
body#log_page p, pre {
    border:2px solid #111111;
    color:#EEEEEE;
    line-height:1.5em;
    padding:0.5em;
}
pre {
    overflow:auto;
    width:95%;
}
body#log_page p.log-success, table.job_id_table td.log-success {
    border-color:#92CC47;
}
body#log_page p.log-failure, table.job_id_table td.log-failure {
    border-color:#B50008;
}
body#log_page h3 {
    color:#EEEEEE;
    padding-top:1em;
}
#menu {
    float:right;
    padding-bottom:1em;
}
#menu li {
    list-style-type:square;
}
#menu li a {
    color:#eee;
}
#content {
    clear:right;
}
